:root {
    --bg-color: white;
    --text-color-light: #632626;
    --text-color: #000000;
    --text-color-dark: #395B64;
    --nav-bgcolor: #FFFFF0;
    --nav-text-color: white;
    --hover-color: #E14D2A;
    --footer-bg-color: black;
    --footer-color: white;
    --heading-line-color: #BF8B67;
    --link-color: #000000;
}

* {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    list-style: none;
}

::-webkit-scrollbar {
    width: 10px;
    background: var(--text-color);
}

::-webkit-scrollbar-thumb {
    background: var(--bg-color);
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background: var(--bg-color);
    color: var(--text-color);
}

.container {
    max-width: 90%;
    margin: auto;
}

.flex {
    display: flex;
    gap: 1rem;
}

section {
    scroll-margin-top: 130px;
}

.section-heading {
    margin-top: 3rem;
    margin-bottom: 2rem;
    position: relative;
    text-align: center;
}

.section-line {
    max-width: 400px;
    background: var(--heading-line-color);
    height: 5px;
    border: none;
    border-radius: 3px;
}

.section-description {
    text-align: center;
}

.align-center {
    text-align: center;
}

.flex-center-align-x-y {
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-auto {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 2rem;
}

.wrap {
    display: flex;
    flex-wrap: wrap;
}

.section-div {
    margin-top: 5rem;
}

header {
    padding: 0;
    margin: 0;
    box-shadow: 0px 0px 10px 3px;
    position: fixed;
    height: auto;
    top: 0;
    width: 100%;
    background: var(--bg-color);
    z-index: 999;
}

nav {
    display: flex;
    padding: 10px 0 10px 0;
    align-items: center;
    justify-content: space-between;
    min-height: 60px;
}

.links {
    text-decoration: none;
    color: var(--text-color);
}

.logo {
    font-size: clamp(0.9rem, 3vw, 1.3rem);
    font-weight: 700;
    color: var(--text-color);
    text-transform: uppercase;
    transition: all ease-in-out 250ms;
}

.logo:hover {
    color: var(--hover-color);
}

#hamburger-menu {
    z-index: 1001;
    display: none;
}

.menu-icons {
    cursor: pointer;
}

.hamburger-icons {
    padding: 10px;
    font-size: 1.5rem;
    cursor: pointer;
}

#hamburger-close {
    display: none;
    font-size: 2rem;
}

#primary-navigation {
    list-style: none;
    padding: 10px;
}

.nav-links {
    padding: 10px;
    color: var(--text-color-normal);
    font-size: 1.1rem;
    font-weight: 600;
    position: relative;
    transition: all ease-in-out 250ms;
}

.nav-links::after {
    content: "";
    position: absolute;
    display: block;
    height: 3px;
    width: 0%;
    background: var(--hover-color);
    bottom: 0px;
    transition: all ease-in-out 250ms;
}

.nav-links:hover::after {
    width: 100%;
}

.nav-links:hover {
    color: var(--hover-color);
}

.primary-navigation {
    align-items: center;
}

.close-nav-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    color: var(--text-color);
    font-size: 2rem;
}

#intro {
    color: var(--text-color-light);
    animation: content-move-in 1s;
}

@keyframes content-move-in {
    from {
        transform: translateX(-100vw);
    }
    to {
        transform: translateX(0);
    }
}

#greeting {
    display: block;
    font-size: clamp(1rem, 5vw, 2.9rem);
    margin-bottom: 1rem;
}

#jump-to-section {
    padding: 10px 20px 10px 20px;
    border-radius: 7px;
    position: relative;
    animation: btn-jump 1.8s;
    animation-delay: 4s;
}

#down-icon {
    margin: 0 0 0 10px;
}

@keyframes btn-jump {
    0% {top: 0;}
    25% {top: 20px;}
    50% {top: 0;}
    75% {top: 20px;}
    100% {top: 0;}
}

.main-section {
    min-height: 100vh;
    padding: 0;
    margin: 0;
}

main {
    padding: 0;
    margin: 0;
}

.image {
    text-align: center;
}

#my-image {
    max-width: 60px;
    border-radius: 50%;
}

#my-image-main {
    width: clamp(200px, 40vw, 300px);
    border-radius: 50%;
}

/* .section-title {
} */


.sub-section-title {
    margin: 4rem 0 2rem 0;
}

#skills {
    gap: 0.5rem;
    padding: 0;
}

#about-info p {
    font-size: 1.1rem;
}

#skills-info {
    margin: 0;
    padding: 0;
}

.skill {
    font-size: 1rem;
    padding: 10px 20px;
    border: 1px solid var(--text-color);
    border-radius: 7px;
}

.project-img-figure {
    /* max-width: 100%; */
}

.project-img {
    border-radius: 10px;
    object-fit: cover;
    width: 100%;
    box-shadow: 0px 0px 5px 1px;
}

.project-container {
    align-items: center;
    margin-top: 3rem;
}

.project-info {
    padding: 30px;
}

.btns {
    margin-top: 2rem;
}

.project-btn {
    max-width: 120px;
    text-align: center;
    padding: 10px 20px;
    display: inline-block;
    background: var(--bg-color);
    color: var(--text-color);
    border-radius: 5px;
    font-weight: 600;
    box-shadow: 0px 0px 1px 1px;
    transition: 0.3s;
}

.project-btn:hover {
    background: var(--hover-color);
    color: var(--bg-color);
}

.general-btns {
    transition: 0.4s;
    color: var(--text-color);
    border: 1px solid var(--text-color);
    display: inline-block;
}

.general-btns:hover {
    background: var(--hover-color);
    color: var(--bg-color);
    border: 1px solid var(--hover-color);
}

#contact-info {
    text-align: center;
}

#tools {
    gap: 0.5rem;
    padding: 0;
}

.tool {
    border: 1px solid var(--text-color);
    padding: 10px 20px;
    border-radius: 7px;
}

#contact-btn {
    padding: 10px 20px;
    text-align: center;
    margin-top: 10px;
    border-radius: 7px;
}

footer {
    background: var(--footer-bg-color);
    color: var(--footer-color);
}

#footer-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0 20px 0;
}

@media (max-width: 500px) {
    #footer-section {
        display: block;
    }
}

#social-box {
    margin: 10px 0 10px 0;
    min-height: 50px;
    align-items: center;
    justify-content: center;
}

.social-icon {
    font-size: 2rem;
    color: white;
}

@media (max-width: 800px) {

    #hamburger-menu {
        display: block !important;
    }

    #primary-navigation {
        position: fixed;
        display: none;
        background: var(--bg-color);
        z-index: 1000;
        min-height: 100%;
        top: 0;
        right: 0;
        box-shadow: 0px 0px 10px 3px;
        min-width: 70%;
        max-width: 100%;
        margin: auto;
    }

    .nav-links {
        display: block;
        padding: 10px;
        font-size: 1.5rem;
        margin: 10px 0 10px 0;
        color: var(--text-color);
    } 

    .nav-links:hover::after {
        width: 60%;
    }

    .nav-links:hover {
        margin-left: 20px;
    }
}


@media (max-width: 950px) {
    .grid-auto {
        display: block;
    }

    .project-img {
        text-align: center;
    }

    #tools-div {
        margin-top: 2rem;
    }
} 
