@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --bg-color: #FFFFF0;
    --text-color-light: #632626;
    --text-color: #000000;
    --text-color-dark: #395B64;

    --nav-bgcolor: #FFFFF0;
    --nav-text-color: white;
    --hover-color: #000000;


    --link-color: #000000;

    --border-color: #BF8B67;
    --bg-color-2: black;

}

* {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    list-style: none;
}

::-webkit-scrollbar {
    width: 10px;
    background: var(--text-color);
}

::-webkit-scrollbar-thumb {
    background: var(--bg-color);
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background: var(--bg-color);
    color: var(--text-color);
}

.container {
    max-width: 90%;
    margin: auto;
}

.flex {
    display: flex;
    gap: 1rem;
}

.flex-center-align-x-y {
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-auto {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 5rem;
}

header {
    padding: 0;
    margin: 0;
    max-width: 100%;
}

#intro {
    background: var(--bg-color);
    color: var(--text-color-light);
}

#intro div {
    animation: content-move-in 1s;
}

@keyframes content-move-in {
    from {
        transform: translateX(-100vw);
    }
    to {
        transform: translateX(0);
    }
}

#greeting {
    font-size: clamp(1.3rem, 5vw, 2rem);
}

nav {
    box-shadow: 0px 0px 10px 3px;
    position: fixed;
    max-width: 100%;
    height: auto;
    top: 0;
    width: 100%;
    background: var(--bg-color);
}

#nav-div {
    position: relative;
    align-items: center;
    justify-content: space-between;
    min-height: 60px;
}

.links {
    text-decoration: none;
    color: var(--text-color);
}

#cv-link {
    border: 1px solid var(--text-color);
    border-radius: 5px;
}

#cv-link:hover {
    background: var(--text-color);
    color: var(--bg-color);
}

.logo {
    font-size: 1.3rem;
    font-weight: 800;
    color: var(--text-color-light);
    padding: 5px;
    text-transform: uppercase;
}

.logo:hover {
    color: var(--text-color);
}

.menu-bar {
    display: none !important;
    cursor: pointer;
}

#menu-bar {
    display: block;
}

#primary-navigation {
    list-style: none;
}

.nav-links {
    padding: 5px;
    color: var(--text-color-normal);
    font-weight: 600;
}

.nav-links:hover {
    border-bottom: 2px solid var(--text-color-light);
}

.primary-navigation {
    align-items: center;
}

.close-nav-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    color: var(--text-color);
    font-size: 2rem;
    border-radius: 0px;
}

section {
    min-height: 100vh;
    padding: 0;
    margin: 0;
    max-width: 100%;
}

main {
    padding: 0;
    margin: 0;
}

/* #about {
    border
} */

#about .image {
    text-align: center;
}

#my-image {
    width: clamp(200px, 30vw, 250px);
    border-radius: 50%;
}

/* #about-info {
    max-width: 50rem;
} */

.section-title {
    text-align: center;
}

#skills {
    padding: 0;
    margin: 0;
}

.skill-icon {
    margin-right: 10px;
    font-size: 1.6rem;
    color: var(--text-color);
}

#about-info p {
    font-size: 1.1rem;
}

#skills-info {
    margin: 0;
    padding: 0;
}

.skill-list {
    font-size: clamp(1rem, 4vw, 1.3rem);
    padding: 10px 20px;
    margin: 10px 0;
    border: 1px solid var(--text-color);
    border-radius: 4px;
    display: flex;
    align-items: center;
}

.project-img {
    width: clamp(300px, 50vw, 550px);
}

.project-container {
    text-align: center;
    max-width: 900px;
    align-items: center;
}

.project-info {
    border-radius: 5px;
    padding: 10px;
}

#shopping-cart-project {
    background: #E14D2A;
    color: var(--text-color);
}

#contact-info {
    text-align: center;
}

#contact-btn {
    padding: 10px 20px;
    border: 2px solid var(--text-color);
    text-align: center;
    color: var(--text-color);
    border-radius: 5px;
    display: inline-block;
    margin-top: 10px;
}

#footer-div {
    text-align: center;
    min-height: 5rem;
}

@media (max-width: 800px) {

    .menu-bar {
        display: block !important;
        font-size: 1.5rem;
    }

    #primary-navigation {
        position: fixed;
        display: none;
        background: var(--bg-color);
        z-index: 1000;
        min-height: 100%;
        top: 0;
        right: 0;
        box-shadow: 0px 0px 10px 3px;
        min-width: 70%;
        max-width: 100%;
        margin: auto;
        overflow-y: scroll;
    }

    .nav-links {
        display: block;
        padding: 10px;
        font-size: 1.5rem;
        margin: 10px 0 10px 0;
        min-width: auto;
        color: var(--text-color);
    } 

    .nav-links:hover {
        border-bottom: none;
    }

    #cv-link {
        border: none;
    }

    #cv-link:hover {
        background: none;
        color: var(--text-color);
    }

    .nav-links:hover {
        margin-left: 20px;
    }
}


@media (max-width: 1000px) {

    .grid-auto {
        display: block;
    }

    .project-img {
        text-align: center;
    }
} 
