:root {
  --bg-color: #F0F0F0;
  --text-color-light: #632626;
  --text-color: #000000;
  --text-color-dark: #395b64;
  --nav-bgcolor: #fffff0;
  --nav-text-color: white;
  --hover-color: #ff7000;
  --footer-bg-color: black;
  --footer-color: white;
  --heading-line-color: #ff7000;
  --link-color: #000000;
  --box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  --btn-color: #ff7000;
  --btn-border-color: black;
  --primary-color: #007FFF;
}

/*  About section    */

#skills {
  gap: 0.5rem;
  padding: 0;
}

.skill {
  font-size: 1rem;
  padding: 7.5px 15px;
  border: 1px solid var(--text-color);
  border-radius: 5px;
}

/*  Project section */

.columns {
  display: block;
}

.project-container {
  margin: 7rem 0;
  padding: 0;
}

.column {
  margin: 0;
  padding: 0;
}

@media (min-width: 900px) {
  .project-container {
    gap: 2rem;
    align-items: center;
    margin: 5rem 0;
  }

  .columns {
    display: grid;
    grid-template-columns: 50% 50%;
  }

  .column {
    gap: 4rem;
  }

  #about-container {
    gap: 4rem;
  }
}

#jump-to-section {
  border: none;
  color: white;
  padding: 10px 30px;
  position: relative;
  border-radius: 5px;
  box-shadow: var(--box-shadow);
  top: 0;
  transition: 0.2s ease 0s;
  background: var(--primary-color);
}


.project-img {
  border-radius: 5px;
  max-width: 100%;
  box-shadow: var(--box-shadow);
  transition: 0.3s ease 0s;
  opacity: 0.7;
}

.project-img:hover {
  opacity: 1;
}

.project-info p {
  font-family: "Poppins", sans-serif;
}

.btns {
  margin: 2rem 0;
}

.project-btn {
  text-align: center;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
  border-radius: 5px;
  transition: 0.2s ease 0s;
  padding: 10px 20px;
}

.project-arrow {
  position: relative;
  margin-left: 5px;
  left: 0;
}

.project-btn:hover {
  background: #005FFF;
}

.project-btn:hover .project-arrow {
  transition: all 0.2s ease-in-out;
  left: 3px;
}

.tools {
  gap: 1rem;
  padding: 0;
}

.tool {
  font-size: 1rem;
}

/*  Contact */

#contact {
  margin: 7rem 0;
}

#contact-info {
  display: flex;
  justify-content: center;
}

#contact-btn {
  padding: 10px 20px;
  text-align: center;
  border-radius: 5px;
  color: var(--bg-color);
  background: var(--btn-color);
  border: 1px solid var(--btn-color);
}

#contact-btn .fa-arrow-right {
  position: relative;
  left: 0;
  margin-left: 5px;
  transition: all 0.1s ease-in-out;
}

#contact-btn:hover .fa-arrow-right {
  left: 3px;
}

#contact-btn:hover {
  border: 1px solid var(--btn-border-color);
  background: var(--bg-color);
  color: var(--text-color);
}


@media (min-width: 900px) {
  .form {
    width: 50% !important;
  }
}
.form {
  background: white;
  padding: 40px;
  width: 100%;
  justify-content: center;
  border-radius: 5px;
}

.form .label-row label {
  font-size: 1.2rem;
  padding-bottom: 10px;
}

.form .input {
  padding: 5px;
  margin: 10px 0;
  width: 100%;
}

.submit-btn {
  background: var(--primary-color);
  padding: 10px 25px;
  text-align: center;
  border-radius: 5px;
  color: white;
  border: none;
  margin-top: 10px;
  transition: 0.2s ease 0s;
}

.submit-btn:hover {
  background: #005FFF;
}